# LangChain Core
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-pinecone
langchain-experimental
sentence-transformers
pinecone-client
langchain-ollama
pypdf
python-docx
docx2txt
beautifulsoup4
requests
fastapi
uvicorn
python-multipart
streamlit
pydantic
pydantic-settings
python-dotenv
tqdm
nltk